################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrainingFunctionApp/.vs/TrainingFunctionApp/v15/Server/sqlite3
